<h2 id="title"><%=title%></h2>
<div class="filters">
    <div class="d-flex flex-row-reverse mb-3">
        <% if(filter_distr) {%>
        <div class="form-group">
            <label for="exampleSelect1">Виберіть район:</label>
            <select id="district-select" class="form-control district">
                <option>Все</option>
                <option>Шевченківський</option>
                <option>Оболонський</option>
                <option>Подільський</option>
                <option>Дніпровський</option>
            </select>
        </div>
        <% } %>
        <div class="form-group">
            <label for="exampleSelect1">Виберіть тваринку:</label>
            <select id="pet-select" class="form-control typeOfAdv">
                <option>Все</option>
                <option>Песик</option>
                <option>Котик</option>
                <option>Інше</option>
            </select>
        </div>
    </div>
</div>
<div id="cards" class="row">
    <div>Оголошень немає</div>
</div>