<div class="col-md-6 col-lg-4">
    <div class="card bg-light text-dark">
        <!--<%= lessons[i].img_src%>-->
        <img class="card-img-top" src="/static/Lapy.png" alt="Your Pet">
        <div class="card-body">
            <h4 class="card-title"><%pet.name%></h4>
            <p class="card-text"><%pet.text%></p>
            <a href="#" class="btn btn-primary">Відгукнутися</a>
        </div>
    </div>
</div>